.raleway-googleFont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  font-weight: normal;
}

button {
  border: none;
  font-size: 14px;
  color: white;
  background: rgb(0, 21, 69);
  border-radius: 3px;
  min-width: 120px;
  height: 30px;
  font-family: Raleway;
}

.border_button {
  background: white;
  border: 1px solid rgb(0, 21, 69);
  color: rgb(0, 21, 69);
  font-family: Raleway;
}

.red_button {
  background: white;
  border: 1px solid rgb(69, 0, 0);
  color: rgb(69, 0, 0);
  font-family: Raleway;
}

body {
  font-family: Raleway;
  background-color: white;
  margin: 0;
  padding: 0;
  color: rgb(0, 21, 69);
}

#root {
  padding-top: 80px;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* NAVIGATION STYLING */
nav {
  height: 70px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 15px; */
  position: fixed;
  top: 0;
  left: 0;
}

.navLinks {
  display: flex;
}

.navLinks > a {
  font-size: 12px;
  text-decoration: none;
}

.logos {
  color: rgb(81, 117, 190);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 14px;
}

/* CONTENT AND WRAPPERS */
.contentWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black;
}

.bookWrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 330px;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  background: rgb(245, 245, 245);
}

.bookWrapper > h2 {
  font-size: 18px;
}

.bookWrapper > h1 {
  font-weight: bold;
  font-size: 24px;
}

.bookWrapper > h1,
h2 {
  margin: 8px;
}

.bookWrapper > img {
  width: 250px;
  max-height: 350px;
  border-radius: 6px;
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.searchBar > input {
  width: 300px;
  border: 2px solid rgb(0, 21, 69);
  border-radius: 9px;
  height: 30px;
  font-family: Raleway;
}

/* Styling for single book */
.singleBookWrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 60%;
  min-width: 350px;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  background: rgb(245, 245, 245);
}

.singleBookWrapper > h2 {
  font-size: 18px;
}

.singleBookWrapper > h1 {
  font-weight: bold;
  font-size: 24px;
}

.singleBookWrapper > h1,
h2 {
  margin: 8px;
}

.singleBookWrapper > img {
  max-width: 600px;
  min-width: 300px;
  max-height: 350px;
  border-radius: 6px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonWrapper > button {
  margin: 0px 5px;
}

/* Form styling */

.formContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.formContentWrapper > a {
  color: rgb(0, 21, 69);
  font-size: 14px;
}

.formWrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 60%;
  min-width: 350px;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  background: rgb(245, 245, 245);
  padding-bottom: 20px;
}

.loginForm {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.loginError {
  color: red;
  font-size: 18px;
}

/* STYLING FOR ACCOUNT PAGE */
.accountWrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.accountBox {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 60%;
  min-width: 350px;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  background: rgb(230, 237, 255);
  padding-bottom: 20px;
}

.accountBox > ul {
  text-align: left;
}

.userBooks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-bottom: 20px;
}

.userBooksWrapper {
  border: 1px solid rgb(0, 21, 69);
  border-radius: 8px;
  min-width: 250px;
  background-color: white;
  padding: 10px;
}

.accountButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
